body{
    font-family: 'Mulish', sans-serif;
    background-color: black;
}

#topimg{
    width: 1320px;
    filter: brightness(0.4);
    padding: 0;
    margin: 0;
    position: relative;
}

#container{
    position: relative;
    text-align: center;
    color: white;

}

#title{
    color: white;
    font-size: 65px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#subtitle{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#learnmore{
    color: whitesmoke;
}

#learnmore:hover{
    color: orange;
    transition: 0.5s;
}

#text{
    color: white;
    font-size: 100px;
}

.section{
    color: white;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 30px;
    text-align: center;
}

#listen{
    padding: 30px;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 30px;
}

.emptycont{
    color: white;
    margin-left: 100px;
    margin-right: 50px;

}

.nameofsong{
    font-size: 30px;
    margin-left: 40px;
    text-align: left;
    padding-top: 5px;
}

.duration{
    font-size: 30px;
    float: right;
    margin-right: 50px;
    color: grey;
}

.listenbtn{
    color: white;
    float: right;
    font-size: 25px;
    padding: 7px;
    background-color: darkorange;
    -webkit-user-select: none;
    margin-right: 20px;
    text-decoration: none;
}

.listenbtn:hover{
    color: white;
    background-color: #ff7b00;
    transition: 0.5s;
    border-radius: 15px;
}

.downloadbtn{
    color: white;
    float: right;
    font-size: 25px;
    padding: 7px;
    background-color: darkorange;
    -webkit-user-select: none;
    margin-right: 100px;
    margin-top: 0;
    text-decoration: none;
}

.downloadbtn:hover{
    color: white;
    background-color: #ff7b00;
    transition: 0.5s;
    border-radius: 15px;
}

.section{
    margin-bottom: 40px;
    text-align: left;
    margin-left: 90px;
    text-decoration: underline;
    color: orange;
}